body
{
    background-size: cover;
    color: white;
}

.heading
{
    width: 100%;
    margin: 0px;
    padding: 10px;
}

h4{
    background-color: yellowgreen;
    padding: 10px;
    margin: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

h1 p{
    font-size: 15px;
}

input {
    width: 30% !important;
    
}